gmail-ai-auto-reply.json.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [-240, -16],
      "id": "590aac8e-6916-41d8-a33c-d4ae9494bdef",
      "name": "Gmail Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f4b7b936-dda7-487c-a6db-5061c2139444",
              "leftValue": "={{ $json.from.value[0].address }}",
              "rightValue": "hashtag.com",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [-32, -16],
      "id": "b7d9852a-24bb-4c64-9f45-ae5222c4f0ce",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Gmail Trigger').item.json.text }}",
        "options": {
          "systemMessage": "Você é um agente comercial especializado em venda de cursos online. O seu objetivo é tirar dúvidas dos Programas Online da Hashtag Treinamentos.\n\nNas respostas, sempre inclua o link correspondente ao curso perguntado para que a pessoa faça a inscrição.\nAlém disso, sempre responda formatando o texto em HTML válido, usando:\n- <br> para quebras de linha\n- <b> para negrito\n- <ul><li>...</li></ul> para listas\ne quaisquer outras formatações necessárias\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [176, -112],
      "id": "c819165c-625b-40d9-b138-2c172889127b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [176, 48],
      "id": "314019ec-e49a-4fbb-8dba-50bf14dc2ae2",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Gmail Trigger').item.json.threadId }}",
        "contextWindowLength": "=20"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [272, 112],
      "id": "fbb85682-813e-419e-9517-def28a59a12a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [528, -112],
      "id": "49878e95-ebf4-4f7b-aff8-a037e3411ade",
      "name": "Reply to a message",
      "webhookId": "bef81f8a-b325-4db6-b937-4442b21c1864"
    }
  ],
  "connections": {
    "Gmail Trigger": {
      "main": [[{ "node": "If", "type": "main", "index": 0 }]]
    },
    "If": {
      "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]]
    },
    "Simple Memory": {
      "ai_memory": [[{ "node": "AI Agent", "type": "ai_memory", "index": 0 }]]
    },
    "AI Agent": {
      "main": [[{ "node": "Reply to a message", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "c357a8af-18f6-48df-880c-63bea63f2106",
  "id": "kP-lj3GwAtxmHuE6F9LSs",
  "tags": []
}
